.home-container {
  height: 100%;
  padding: 2rem;
}
p {
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 1.2rem;
}
.title-container {
  text-align: center;
}
.profile-container {
  padding: 1rem;
  background-color: #8cb4b4;
  height: auto;
  width: 40%;
}
.user-container {
  display: flex;
}
.data-user-container {
  padding: 30px;
}
.user-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #fff;
  padding: 5px;
}
