<div class="home-container">
  <div class="profile-container">
    <div class="user-container">
      <img class="user-image" src="https://picsum.photos/seed/picsum/200/300" />
      <div class="data-user-container">
        <p>{{ user?.name || "Usuário" }}</p>
        <p class="subtitle">Interesses: Animes, literatura e programação</p>
      </div>
    </div>
  </div>
  <div class="others-posts">
    <mat-card>
      <img class="post-image" src="https://picsum.photos/200/300?grayscale" />
      <p class="data">08-11-2021 - Natureza</p>
      <div class="title">
        <h2>Believing neglected so so allowance existence departure.</h2>
      </div>
      <div class="content">
        <h3>
          End-to-end payments and financial management in a single solution.
          Meet the right platform to help realize.
        </h3>
      </div>
    </mat-card>
  </div>
  <div class="posts-cards">
    <div class="see-all">
      <p>Postagens Recentes</p>
      <button class="posts-button">Ver tudo</button>
    </div>

    <mat-card class="small-card">
      <img class="post-image-card" src="https://picsum.photos/id/237/200/300" />
      <div class="data-container">
        <p class="data">08-11-2021 - Natureza</p>
        <div class="title">
          <h2>Believing neglected so so allowance existence departure.</h2>
        </div>
      </div>
    </mat-card>
    <mat-card class="small-card">
      <img class="post-image-card" src="https://picsum.photos/id/237/200/300" />
      <div class="data-container">
        <p class="data">08-11-2021 - Natureza</p>
        <div class="title">
          <h2>Believing neglected so so allowance existence departure.</h2>
        </div>
      </div>
    </mat-card>
    <mat-card class="small-card">
      <img class="post-image-card" src="https://picsum.photos/id/237/200/300" />
      <div class="data-container">
        <p class="data">08-11-2021 - Natureza</p>
        <div class="title">
          <h2>Believing neglected so so allowance existence departure.</h2>
        </div>
      </div>
    </mat-card>
  </div>
</div>
