<div class="home-container">
  <div class="profile-container">
    <div class="user-container">
      <img class="user-image" src="https://picsum.photos/200/300" />
      <div class="data-user-container">
        <p>Nome: {{ user?.name }}</p>
        <p>Email: {{ user?.email }}</p>
        <p>Interesses: Animes, literatura e programação</p>
      </div>
    </div>
    <button class="button">postagens</button>
  </div>

  <div class="others-posts">
    <p>Postagens mais relevantes - </p>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet. In consequatur culpa ut doloremque quia ad
        iste nostrum et optio tempora. Quo officiis velit ea sint distinctio est
        quia necessitatibus est alias alias.
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Medium</mat-card-subtitle>
        <img
          mat-card-md-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet. In consequatur culpa ut doloremque quia ad
        iste nostrum et optio tempora. Quo officiis velit ea sint distinctio est
        quia necessitatibus est alias alias.
      </mat-card-content>
    </mat-card>
  </div>
</div>
