.auth-container {
  background-color: #fff;
  width: 30%;
  margin: 0 3rem 0 3rem;
  padding-top: 1rem;
}
form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.mat-form-field {
  width: 90%;
  margin: 0 auto;
}
button {
  border: none;
  background-color:#96BBBB;
  color: #fff;
  height: 3rem;
  transition: all 0.5s;
}
button:last-child{
  background-color: #7d9c9c;
  color: #000;
}
button:hover {
  background-color:#8cb4b4;
  transition: all 0.5s;
}
.title-container {
  text-align: center;
  h1 {
    font-size: 3rem;
  }
}
.container {
  display: flex;
  justify-content: flex-end;
}
