<div class="container">
  <div class="show-product">
    <h1 class="product-title">
      A JBooks é um fórum para os Amantes dos Livros.
    </h1>
    <p class="subtitle">
      Com a JBooks, nunca foi tão fácil compartilhar conhecimento. Junte-se a
      nós e faça parte desta família.
    </p>
    <div class="saller-container">
      <mat-icon class="icon">attach_money</mat-icon>
      <p class="saller-title">Compre conosco pela Shopee!</p>
    </div>
  </div>
  <div class="auth-container">
    <div class="title-container">
      <h1 class="title">JBooks</h1>
    </div>

    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Insira seu e-mail</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Insira sua senha</mat-label>
        <input
          matInput
          placeholder="senha"
          type="password"
          formControlName="password"
          required
        />
      </mat-form-field>
      <button class="login" (click)="login()">Logar</button>
      <div class="button-container">
        <button class="register" (click)="redirect()">Cadastre-se</button>
      </div>
    </form>
  </div>
</div>
