.global-container {
  display: flex;
justify-content: space-between;
}
.register-container {
  background-color: #fff;
  width: 30%;
  margin: 0 3rem 0 3rem;
  padding-top: 1rem;
  text-align: center;
}
form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.mat-form-field {
  width: 90%;
  margin: 0 auto;
}
button {
  background-color: #ff7f5c;
  border-radius: 5px;
  border: none;
  color: #fff;
  height: 3rem;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: #f8734e;
  transition: all 0.5s;
}
.title {
  color: #3734a9;
  font-size: 1.5rem;
  font-weight: 700;
}
.subtitle {
  color: #64607d;
  font-weight: 500;
  font-size: 1.25rem;
}
.product-title {
  color: #000000;
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 3.5rem;
}
.notice {
  width: 50%;
}
.icon {
  font-size: 6rem;
}
